body {
  margin: 0;
  font-family: 'Helvetica' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Helvetica Neue', 'Courier New', monospace;
}